// breakepoints
$DesktopWidth            :       1200px;
$SmDesktopWidth          :       992px;
$TableWidth              :       768px;
$PhoneWidth              :       576px;
$SmPhoneWidth            :       320px;

// colors
$main: #c6538c;
$primary: purple;

// font-sizes
